<h1>Add a New Board</h1>
<%= form_for(:project, url: projects_path, method: :post) do |f| %>
  <p><%= f.label :title %>
  <%= f.text_field :title %></p>

  <p><%= f.label :description %>
  <%= f.text_field :description %></p>

  <p><%= f.submit class: "btn btn-success" %></p>
<% end %>
